* {
    padding: 0;
    margin: 0;
    line-height: 1.7;
    font-family: 'Krub', sans-serif;
    box-sizing: border-box
}

html, body {
    height: 100%;
}

#root {
    padding: 0 0 100px 0;
}

.container {
    float: none;
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

.content {
    margin: 30px auto auto !important;
}

.white-txt,
.white-txt h1,
.white-txt h2,
.white-txt h3,
.white-txt h4,
.white-txt h5,
.white-txt h6,
.white-txt p,
.white-txt b {
  color: white !important;
}

p {
    opacity: .8;
}


#login,
#stats,
#moves {
    background: white;
    display: inline-table;
    margin: 20px;
    max-width: 450px;
    width: 100%;
    padding: 30px;
    text-align: left;
}

#moves {
    max-width: 500px;
}

#moves form .input-zone {
    position: relative;
    margin: 0 0 20px 0 !important;
}

#moves form input[type="text"] {
    text-transform: capitalize;
}

#moves form img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    opacity: .5;
    transition: .2s opacity;
}

#moves form img:hover {
    opacity: 1
}

#moves form h3 {
    float: left;
    margin: 0 15px 0 0;
}











