/* Main: #242498 */
/* Sec: #247398 */
/* Dark: #13134c */

body {
    background: #eee;
}

.btn,
#stats,
#player-turn p.active  {
    color: white;
    background: #242498;
    background: linear-gradient(120deg, #242498, #247398);
}

.btn.secondary {
    background: #13134c;
}

.accent {
    color: #242498;
    opacity: 1;
}

form input[type="text"]:hover,
form input[type="text"]:focus {
    border-bottom: 2px #242498 solid;
}

#stats-categories a {
    background: #13134c22 !important;
}

#stats-categories a:hover {
    background: #13134c55 !important;
}

#score,
#stats-categories a[aria-current="page"],
#stats-categories a[aria-current="page"]:hover,
#stats-results article p {
    background: #13134c !important;
}


#login,
#stats,
#moves,
.btn,
#player-turn,
#game-moves .move,
#game-finished header,
#round,
#score,
#rounds-details article,
#rounds-details article h3,
#stats-categories a,
#stats-results article p,
form#player-finder input,
form select   {
    border-radius: 30px;
}

#login,
#stats,
#moves,
#game-finished header {
    box-shadow: 0 30px 100px -20px #13134c33;
}

#score,
.move,
#rounds-details article {
    box-shadow: 0 20px 50px -10px #13134c33;
}

.move:hover {
    box-shadow: 0 30px 50px -10px #13134c33;
}


h1, h2, h3, h4, h5, h6, p, b {
    color: #13134c;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
}